@charset "UTF-8";
/* CSS Document */

/*レスポンシブ対応 */
@media screen and (min-width: 1600px) and (max-width: 1920px) {
  body header div .logo {
    width: 20%;
  }
  body .main-wrap {
    background-size: cover;
  }
  body .main-wrap .image-wrap {
    width: 60%;
  }
  body .main-wrap .image-wrap .main-w {
    width: 35%;
  }
  body .main-wrap .image-wrap .title {
    margin: 14% 9%;
  }
  body p.cta-2 {
    font-size: 200%;
  }
  body p.cta-3 {
    font-size: 200%;
  }
  .cta-close-wrap p.cta-close {
    font-size: 200%;
  }
  .main-tt {
    display: none;
  }
  .main-read {
    font-size: 2.4vw;
    display: none;
    text-align: center;
  }
  .main-read span {
    font-size: 3.2vw;
  }
  .grid_rj {
    margin: 0 15% 0 15%;
  }
  .course_grid_box_1 {
    width: 30%;
  }
  .course_grid_box .course_price {
    font-size: 2.6rem;
  }
  .course_grid_box_1 .course_price {
    font-size: 1.6rem;
  }
  .course_grid_box_1 .course_price span {
    font-size: 1.2rem;
  }
  .course_grid_box_1 .course_price small {
    font-size: 1.1rem;
  }
  .course_grid_box .course_price span {
    font-size: 1.2rem;
  }
  .course_grid_box .course_price small {
    font-size: 1.1rem;
  }
  .comparison-table {
    border-spacing: 15px 0;
  }
  .checkbox_block_all {
    bottom: 40%;
    left: 35%;
  }
  .checkbox_block {
    padding-left: 45px;
    margin-bottom: 35px;
  }
  .checkbox_block .label {
    font-size: 1.4rem;
  }
  .geekmark {
    height: 20px;
    width: 20px;
  }
  .checkbox_block .geekmark:after {
    width: 6px;
    height: 25px;
    border-width: 0 4px 4px 0;
  }
  .checkbox_block_1 p {
    padding-top: 5px;
    line-height: 1.5rem;
  }
  .course_grid_box {
    height: 180px;
  }
  .xs_only {
    display: none;
  }
  .header div {
    margin: 1.5% 2%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1599px) {
  body header div .logo {
    width: 20%;
  }
  body .main-wrap {
    background-size: cover;
  }
  body .main-wrap .image-wrap {
    width: 80%;
  }
  body .main-wrap .image-wrap .main-w {
    width: 35%;
  }
  body .main-wrap .image-wrap .title {
    margin: 14% 9%;
  }
  body .reason-wrap ul li {
    width: auto;
  }
  body .reason-wrap ul li img {
    width: 20%;
  }
  body .reason-wrap ul li h3 {
    font-size: 190%;
    margin-bottom: 3%;
  }
  body .reason-wrap ul li p {
    font-size: 1.3rem;
  }
  body p.cta-2 {
    font-size: 200%;
  }
  body p.cta-3 {
    font-size: 200%;
  }
  .cta-close-wrap p.cta-close {
    font-size: 200%;
    width: 45%;
  }
  .main-tt {
    display: none;
  }
  .main-read {
    font-size: 2.4vw;
    display: none;
    text-align: center;
  }
  .main-read span {
    font-size: 3.2vw;
  }

  .course_grid_box {
    width: 30%;
  }
  .grid_rj {
    margin: 0 0% 0 0%;
  }
  .course_grid_box_1 {
    width: 30%;
  }
  .course_grid_box .course_price {
    font-size: 1.6rem;
  }
  .course_grid_box_1 .course_price {
    font-size: 2.6rem;
  }
  .course_grid_box_1 .course_price span {
    font-size: 1.2rem;
  }
  .course_grid_box_1 .course_price small {
    font-size: 1.1rem;
  }
  .course_grid_box .course_price span {
    font-size: 1.2rem;
  }
  .course_grid_box .course_price small {
    font-size: 1.1rem;
  }
  .comparison-table {
    border-spacing: 15px 0;
  }
  .checkbox_block_all {
    bottom: 40%;
    left: 35%;
  }
  .checkbox_block {
    padding-left: 45px;
    margin-bottom: 35px;
  }
  .checkbox_block .label {
    font-size: 1.4rem;
  }
  .geekmark {
    height: 20px;
    width: 20px;
  }
  .checkbox_block .geekmark:after {
    width: 6px;
    height: 25px;
    border-width: 0 4px 4px 0;
  }
  .checkbox_block_all_1 {
    bottom: 45%;
    left: 20%;
  }
  .checkbox_block_1 {
    padding-left: 45px;
    margin-bottom: 35px;
  }
  .checkbox_block_1 .label_1 {
    font-size: 1.4rem;
  }
  .geekmark_1 {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
  }
  .checkbox_block_1 p {
    padding-top: 5px;
    line-height: 1.5rem;
  }
  body header div .cta-1 {
    font-size: 1.2rem;
    width: 25%;
    padding: 5px 0 0 0;
    color: #fff;
    text-align: center;
    line-height: 2.5rem;
  }
  .course_grid_box {
    height: 180px;
  }
  .xs_only {
    display: none;
  }
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
  body header div .logo {
    width: 25%;
  }
  body .main-wrap {
    background-size: cover;
  }
  body .main-wrap .image-wrap {
    width: 90%;
  }
  body .main-wrap .image-wrap .main-w {
    width: 35%;
  }
  body .main-wrap .image-wrap .title {
    font-size: 120%;
    margin: 15% 8% 11%;
  }
  body .worry-wrap h2 {
    font-size: 180%;
  }
  body .worry-wrap h2:before {
    margin-right: 2rem;
  }
  body .worry-wrap h2:after {
    margin-left: 2rem;
  }
  body .worry-wrap ul {
    width: auto;
  }
  .share-belt .share-wrap {
    width: auto;
  }
  .share-belt .share-wrap h2 {
    font-size: 300%;
    padding-bottom: 20px;
  }
  body .belt h2 {
    font-size: 200%;
  }
  body .middle-cta-belt h2 {
    font-size: 200%;
  }
  body .reason-wrap ul li {
    width: auto;
    border-radius: 15px;
  }
  body .reason-wrap ul li img {
    width: 20%;
  }
  body .reason-wrap ul li h3 {
    font-size: 150%;
    margin-bottom: 3%;
  }
  body .reason-wrap ul li p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  body .middle-cta-wrap img {
    object-fit: cover;
    height: 400px;
  }
  body .customer-wrap li {
    width: 90%;
  }
  body .customer-wrap .customer-text h4 {
    font-size: 150%;
  }
  body .customer-wrap .customer-text p {
    font-size: 100%;
    line-height: 1.5rem;
  }
  body .media-wrap .media-contents {
    width: 85%;
  }
  body .question-wrap li h4 {
    font-size: 150%;
    line-height: 2rem;
    border-bottom: 2px solid #ea9034;
  }
  body .question-wrap li p {
    font-size: 120%;
    line-height: 1.5rem;
  }
  body p.cta-2 {
    font-size: 180%;
    /* padding: 28px; */
    width: 60%;
  }
  body p.cta-3 {
    font-size: 180%;
    width: 60%;
    bottom: 12%;
    left: 17.5%;
  }
  body .cta-close-wrap img {
    width: 90%;
  }
  .cta-close-wrap p.cta-close {
    font-size: 180%;
    width: 65%;
    padding: 28px;
  }
  .main-tt {
    display: none;
  }
  .main-read {
    font-size: 2.4vw;
    display: none;
    text-align: center;
  }
  .main-read span {
    font-size: 3.6vw;
  }
  .course_grid_box {
    width: 30%;
  }
  .grid_rj {
    margin: 0 0% 0 0%;
  }
  .course_grid_box_1 {
    width: 30%;
  }
  .course_grid_box .course_price {
    font-size: 1.6rem;
  }
  .course_grid_box_1 .course_price {
    font-size: 1.6rem;
  }
  .course_grid_box_1 .course_price span {
    font-size: 1.2rem;
  }
  .course_grid_box_1 .course_price small {
    font-size: 1.1rem;
  }
  .course_grid_box .course_price span {
    font-size: 1.2rem;
  }
  .course_grid_box .course_price small {
    font-size: 1.1rem;
  }
  .comparison-table {
    border-spacing: 15px 0;
  }
  .checkbox_block_all {
    bottom: 40%;
    left: 35%;
  }
  .checkbox_block {
    padding-left: 45px;
    margin-bottom: 35px;
  }
  .checkbox_block .label {
    font-size: 1.4rem;
  }
  .geekmark {
    height: 20px;
    width: 20px;
  }
  .checkbox_block .geekmark:after {
    width: 6px;
    height: 25px;
    border-width: 0 4px 4px 0;
  }
  .checkbox_block_all_1 {
    bottom: 35%;
    left: 15%;
  }
  .checkbox_block_1 {
    padding-left: 45px;
    margin-bottom: 35px;
  }
  .checkbox_block_1 .label_1 {
    font-size: 1.4rem;
  }
  .geekmark_1 {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
  }
  .checkbox_block_1 p {
    font-size: 0.9rem;
    padding-top: 5px;
    line-height: 1.2rem;
  }
  body header div .cta-1 {
    font-size: 1.2rem;
    width: 25%;
    padding: 5px 0 0 0;
    color: #fff;
    text-align: center;
    line-height: 2.5rem;
  }
  .course_grid_box {
    height: 180px;
  }
  .xs_only {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .course_grid_box.ranking1 {
    width: 100%;
  }
  body header div {
    /* height: 40px; */
  }
  body header div .logo {
    width: 25%;
  }
  body header div .cta-1 {
    font-size: 0.5rem;
    /* padding: 20px; */
  }
  body .main-wrap {
    background-size: cover;
  }
  body .main-wrap .image-wrap {
    width: 90%;
  }
  body .main-wrap .image-wrap .main-w {
    width: 35%;
  }
  body .main-wrap .image-wrap .title {
    font-size: 100%;
    margin: 15% 5% 8% 5%;
  }
  body div.worry-wrap {
    padding-top: 10%;
    background-size: cover;
  }
  body .worry-wrap ul li {
    width: 60%;
  }
  .worry-wrap ul li img {
    margin: 2% 0;
  }
  body .worry-wrap h2 {
    font-size: 150%;
    width: 100%;
  }
  body .worry-wrap h2:before {
    margin-right: 2rem;
  }
  body .worry-wrap h2:after {
    margin-left: 2rem;
  }
  body .worry-wrap ul {
    width: auto;
  }
  .share-belt .share-wrap {
    width: auto;
  }
  .share-belt .share-wrap h2 {
    font-size: 250%;
    padding-bottom: 20px;
  }
  body .belt h2 {
    font-size: 150%;
  }
  body .middle-cta-belt h2 {
    font-size: 150%;
  }
  body div.reason-wrap {
    padding: 3%;
  }
  body .reason-wrap ul li {
    width: auto;
    border-radius: 10px;
    padding: 2% 2%;
  }
  body .reason-wrap ul li img {
    width: 25%;
    margin-bottom: 4%;
  }
  body .reason-wrap ul li .reason-text {
    width: auto;
    margin-left: 3%;
  }
  body .reason-wrap ul li h3 {
    font-size: 140%;
    margin-bottom: 3%;
  }
  body .reason-wrap ul li p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  body .middle-cta-wrap img {
    object-fit: cover;
    height: 300px;
  }
  body .customer-wrap li {
    width: 90%;
  }
  body .customer-wrap .customer-text {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  body .customer-wrap li img {
    width: 30%;
    display: block;
    margin: 0 auto 5%;
  }
  body .customer-wrap .customer-text h4 {
    font-size: 150%;
  }
  body .customer-wrap .customer-text p {
    font-size: 100%;
    line-height: 1.5rem;
  }
  body .media-wrap .media-contents {
    width: 100%;
  }
  body div.question-wrap {
    padding-bottom: 15%;
  }
  body .question-wrap li {
    width: 93%;
  }
  body .question-wrap li h4 {
    font-size: 130%;
    line-height: 1.5rem;
    border-bottom: 2px solid #ea9034;
  }
  body .question-wrap li p {
    font-size: 110%;
    line-height: 1.5rem;
  }
  body p.cta-2 {
    font-size: 150%;
    /* padding: 20px; */
    width: 60%;
  }
  body p.cta-3 {
    font-size: 150%;
    width: 60%;
    bottom: 12%;
    left: 17.5%;
  }
  body div.cta-close-wrap {
    padding: 5% 0;
  }
  body .cta-close-wrap img {
    width: 90%;
  }
  .cta-close-wrap p.cta-close {
    font-size: 150%;
    width: 66%;
    padding: 20px;
  }
  .grad-wrap .grad-btn {
    width: 148px;
    padding: 25px 100px;
    font-size: 200%;
  }
  .main-tt {
    display: none;
  }
  .main-read {
    font-size: 3.6vw;
    display: none;
    text-align: center;
  }
  .main-read span {
    font-size: 4.8vw;
  }
  .course_grid_box_1 .course_price {
    font-size: 2rem;
  }
  .course_grid_box {
    width: 45%;
  }
  .grid_rj {
    margin: 0 0% 0 0%;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
  }
  .course_grid_box_1 {
    width: 100%;
  }
  .course_grid_box .course_price {
    font-size: 2.2rem;
  }
  .course_grid_box_1 .course_price {
    font-size: 3.2rem;
  }
  .course_grid_box_1 .course_price span {
    font-size: 1.2rem;
  }
  .course_grid_box_1 .course_price small {
    font-size: 1rem;
  }
  .course_grid_box .course_price span {
    font-size: 1.2rem;
  }
  .course_grid_box .course_price small {
    font-size: 1rem;
  }
  .comparison-table {
    margin: 0 auto 8px;
    /* font-size: 1.3rem; */
    border-spacing: 3px 0;
    word-break: break-all;
  }
  .comparison-table tr td:first-child {
    width: 24%;
  }
  .checkbox_block_all {
    bottom: 40%;
    left: 30%;
  }
  .checkbox_block {
    padding-left: 45px;
    margin-bottom: 25px;
  }
  .checkbox_block .label {
    font-size: 1.4rem;
  }
  .geekmark {
    height: 20px;
    width: 20px;
  }
  /* .checkbox_block .geekmark:after {
    width: 6px;
    height: 25px;
    border-width: 0 4px 4px 0;
  } */
  .checkbox_block_all_1 {
    bottom: 45%;
    left: 8%;
  }
  .checkbox_block_1 {
    padding-left: 40px;
    margin-bottom: 15px;
  }
  .checkbox_block_1 .label_1 {
    font-size: 1rem;
  }
  .geekmark_1 {
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
  }
  .checkbox_block_1 p {
    font-size: 0.7rem;
    padding-top: 3px;
    line-height: 1rem;
  }
  body header div .cta-1 {
    font-size: 1.2rem;
    width: 30%;
    padding: 5px 0 0 0;
    color: #fff;
    text-align: center;
    line-height: 2.5rem;
  }
  .pc_only {
    display: none;
  }
  .course_grid_box {
    height: 180px;
  }
  .xs_only {
    display: none;
  }
}
@media screen and (min-width: 400px) and (max-width: 599px) {
  .main-tt {
    position: absolute;
    left: 0;
    top: -10px;
    display: contents;
    width: auto;
    text-align: left;
    font-size: 8.5vw;
    text-shadow: 2px 2px 10px #fff, 2px 2px 10px #fff, 2px 2px 10px #fff,
      2px 2px 10px #fff, -2px -2px 10px #fff, -2px -2px 10px #fff,
      -2px -2px 10px #fff, -2px -2px 10px #fff;
  }
  .main-tt span {
    padding-left: 25px;
  }
  .main-read {
    font-size: 4.8vw;
    /* display: block; */
    text-align: center;
  }
  .main-read span {
    font-size: 6.5vw;
  }
  body header div {
    height: auto;
  }
  body header div .logo {
    width: 60%;
    margin: 0 auto;
    display: none;
    float: inherit;
    padding: 5%;
  }
  body header div .cta-1 {
    display: none;
    font-size: 1.2rem;
    float: inherit;
    width: 82%;
    padding: 9px 0 5px;
    color: #fff;
    margin: 2% auto 2%;
    text-align: center;
    line-height: 2.5rem;
  }
  body .main-wrap {
    background-size: cover;
  }
  body .main-wrap .image-wrap {
    width: 100%;
  }
  body .main-wrap .image-wrap .main-w {
    width: 65%;
    margin: 50px auto 0;
    display: block;
  }
  body .main-wrap .image-wrap .title {
    font-size: 120%;
    display: block;
    line-height: 1rem;
    padding: 10% 0 5%;
    margin: 0;
  }
  body .main-wrap h1.title span {
    line-height: 4rem;
  }
  body div.share-belt {
    padding: 5%;
  }
  .share-belt .share-wrap {
    width: auto;
    height: 120px;
  }
  .share-belt .share-wrap h2 {
    font-size: 230%;
    padding-bottom: 15px;
    padding-top: 2%;
  }
  body .share-belt .share-text-wrap {
    background-image: none;
    padding: 1.5%;
    vertical-align: middle;
    margin-bottom: 20px;
    background-color: #ffe563;
    text-align: initial;
    width: 90%;
  }
  .share-text-wrap .share-text {
    line-height: 0.2rem;
    padding: 5% 0 3%;
    width: 70%;
    margin: 0 auto;
  }
  .share-text-wrap .share-text span {
    display: initial;
    margin-left: 8%;
    font-size: 250%;
  }
  body div.worry-wrap {
    padding: 10% 0 0;
    background-size: cover;
  }
  body .worry-wrap ul li {
    width: 85%;
  }
  .worry-wrap ul li img {
    margin: 5% 0;
  }
  body .worry-wrap h2 {
    font-size: 100%;
    width: 92%;
    display: block;
    text-align: center;
  }
  body .worry-wrap h2:before {
    margin-right: 0;
  }
  body .worry-wrap h2:after {
    margin-left: 0;
  }
  body .worry-wrap ul {
    width: auto;
  }
  body div.belt {
    padding: 10% 5%;
  }
  body .belt h2 {
    font-size: 110%;
    line-height: 1.5rem;
  }
  body div.reason-wrap {
    padding: 5%;
  }
  body .reason-wrap ul li {
    width: auto;
    border-radius: 5px;
    padding: 2% 2%;
  }
  body .reason-wrap ul li img {
    width: 30%;
    margin-bottom: 4%;
  }
  body .reason-wrap ul li .reason-text {
    width: auto;
    margin-left: 3%;
  }
  body .reason-wrap ul li h3 {
    font-size: 120%;
    margin-bottom: 5%;
    line-height: 1.5rem;
    border-bottom: 8px solid #ffe563;
  }
  body .reason-wrap ul li p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  body .middle-cta-wrap img {
    object-fit: cover;
    height: 300px;
  }
  body div.middle-cta-belt {
    padding: 5%;
  }
  body .middle-cta-belt h2 {
    font-size: 110%;
    line-height: 1.5rem;
  }
  body .customer-wrap li {
    width: 90%;
  }
  body .customer-wrap .customer-text {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  body .customer-wrap li img {
    width: 30%;
    display: block;
    margin: 0 auto 5%;
  }
  body .customer-wrap .customer-text h4 {
    font-size: 120%;
  }
  body .customer-wrap .customer-text p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  body .media-wrap .media-contents {
    width: 100%;
    border: 2px solid #ea9034;
  }
  body .media-wrap img {
    width: 95%;
  }
  body div.question-wrap {
    padding-bottom: 20%;
  }
  body .question-wrap li {
    width: 94%;
    border: solid 2px #ea9034;
  }
  body .question-wrap li h4 {
    font-size: 100%;
    line-height: 1.3rem;
    border-bottom: 2px solid #ea9034;
  }
  body .question-wrap li p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-top: 5%;
  }
  body p.cta-2 {
    font-size: 1.2rem;
    width: 82%;
  }
  body p.cta-3 {
    font-size: 1.2rem;
    width: 87%;
    bottom: 11%;
    left: 4%;
  }
  body div.cta-close-wrap {
    padding: 5% 0;
  }
  body .cta-close-wrap img {
    width: 90%;
  }
  .cta-close-wrap p.cta-close {
    font-size: 1.2rem;
    width: 85%;
    padding: 19px 15px;
    border-radius: 8px;
    margin: 10% auto 4%;
  }
  .grad-wrap .grad-btn {
    width: 148px;
    padding: 20px 50px;
    font-size: 150%;
  }

  .course_grid_box {
    width: 44%;
  }
  .grid_rj {
    margin: 0 0% 0 0%;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
  }
  .course_grid_box .course_price {
    font-size: 1.6rem;
  }
  .course_grid_box_1 .course_price {
    font-size: 3rem;
  }
  .course_grid_box_1 {
    width: 100%;
  }
  .course_grid_box_1 .course_price span {
    font-size: 1.2rem;
  }
  .course_grid_box_1 .course_price small {
    font-size: 1.1rem;
  }
  .course_grid_box .course_price span {
    font-size: 0.8rem;
  }
  .course_grid_box .course_price small {
    font-size: 0.7rem;
  }
  .comparison-table {
    margin: 0 auto 8px;
    /* font-size: 1.3rem; */
    border-spacing: 3px 0;
    word-break: break-all;
  }
  .comparison-table tr td:first-child {
    width: 24%;
  }
  .checkbox_block_all {
    bottom: 40%;
    left: 20%;
  }
  .checkbox_block {
    padding-left: 45px;
    margin-bottom: 15px;
  }
  .checkbox_block .label {
    font-size: 1.2rem;
  }
  .geekmark {
    height: 20px;
    width: 20px;
  }
  .checkbox_block_all_1 {
    bottom: 42%;
    left: 8%;
  }
  .checkbox_block_1 {
    padding-left: 35px;
    margin-bottom: 5px;
  }
  .checkbox_block_1 .label_1 {
    font-size: 0.9rem;
  }
  .geekmark_1 {
    top: 0;
    left: 10px;
    height: 15px;
    width: 15px;
  }
  .checkbox_block_1 p {
    font-size: 0.5rem;
    padding-top: 2px;
    line-height: 0.9rem;
  }
  .cta-1 {
    /* padding: 9px 0 5px;
    color: #fff;
    margin: 2% auto 2%;
    text-align: center;
    width: 40%;
    font-size: 250%;
    line-height: 2.5rem; */
  }
  .pc_only {
    display: none;
  }
  .course_grid_box {
    height: 160px;
  }
}
@media screen and (min-width: 300px) and (max-width: 399px) {
  .checkbox_block_1 .geekmark_1:after {
    left: 5px;
    bottom: 30px;
  }
  body header div {
    height: auto;
  }
  body header div .logo {
    width: 60%;
    margin: 0 auto;
    display: none;
    float: inherit;
    padding: 5%;
  }
  body header div .cta-1 {
    display: none;
    font-size: 1.2rem;
    float: inherit;
    width: 82%;
    padding: 9px 0 5px;
    color: #fff;
    margin: 2% auto 2%;
    text-align: center;
    line-height: 2.5rem;
  }
  body .main-wrap {
    background-size: cover;
  }
  body .main-wrap .image-wrap {
    width: 90%;
  }
  body .main-wrap .image-wrap .main-w {
    width: 65%;
    margin: 0 auto;
    display: block;
  }
  body .main-wrap .image-wrap .title {
    font-size: 90%;
    display: block;
    padding: 10% 0;
    margin: 0;
  }
  body .main-wrap h1.title span {
    line-height: 4rem;
  }
  body div.share-belt {
    padding: 5%;
  }
  .share-belt .share-wrap {
    width: auto;
    height: 95px;
  }
  .share-belt .share-wrap h2 {
    font-size: 160%;
    padding-bottom: 10px;
  }
  body .share-belt .share-text-wrap {
    background-image: none;
    padding: 1.5%;
    vertical-align: middle;
    margin-bottom: 20px;
    background-color: #ffe563;
    text-align: initial;
    width: 90%;
  }
  .share-text-wrap .share-text {
    line-height: 0.2rem;
    padding: 5% 0 3%;
    width: 70%;
    margin: 0 auto;
  }
  .share-text-wrap .share-text span {
    display: initial;
    margin-left: 8%;
    font-size: 250%;
  }
  body div.worry-wrap {
    padding: 10% 0 0;
    background-size: cover;
  }
  body .worry-wrap ul li {
    width: 85%;
  }
  .worry-wrap ul li img {
    margin: 5% 0;
  }
  body .worry-wrap h2 {
    font-size: 100%;
    width: 92%;
    display: block;
    text-align: center;
  }
  body .worry-wrap h2:before {
    margin-right: 0;
  }
  body .worry-wrap h2:after {
    margin-left: 0;
  }
  body .worry-wrap ul {
    width: auto;
  }
  body div.belt {
    padding: 10% 5%;
  }
  body .belt h2 {
    font-size: 110%;
    line-height: 1.5rem;
  }
  body div.reason-wrap {
    padding: 5%;
  }
  body .reason-wrap ul li {
    width: auto;
    border-radius: 5px;
    padding: 2% 2%;
  }
  body .reason-wrap ul li img {
    width: 30%;
    margin-bottom: 4%;
  }
  body .reason-wrap ul li .reason-text {
    width: auto;
    margin-left: 3%;
  }
  body .reason-wrap ul li h3 {
    font-size: 120%;
    margin-bottom: 5%;
    line-height: 1.5rem;
    border-bottom: 8px solid #ffe563;
  }
  body .reason-wrap ul li p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  body .middle-cta-wrap img {
    object-fit: cover;
    height: 300px;
  }
  body div.middle-cta-belt {
    padding: 5%;
  }
  body .middle-cta-belt h2 {
    font-size: 110%;
    line-height: 1.5rem;
  }
  body .customer-wrap li {
    width: 90%;
  }
  body .customer-wrap .customer-text {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  body .customer-wrap li img {
    width: 30%;
    display: block;
    margin: 0 auto 5%;
  }
  body .customer-wrap .customer-text h4 {
    font-size: 120%;
  }
  body .customer-wrap .customer-text p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  body .media-wrap .media-contents {
    width: 100%;
    border: 2px solid #ea9034;
  }
  body .media-wrap img {
    width: 95%;
  }
  body div.question-wrap {
    padding-bottom: 27%;
  }
  body .question-wrap li {
    width: 94%;
    border: solid 2px #ea9034;
  }
  body .question-wrap li h4 {
    font-size: 100%;
    line-height: 1.3rem;
    border-bottom: 2px solid #ea9034;
  }
  body .question-wrap li p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-top: 5%;
  }
  body p.cta-2 {
    font-size: 1rem;
    width: 79%;
  }
  body p.cta-3 {
    font-size: 100%;
    width: 87%;
    bottom: 16%;
    left: 4.5%;
  }
  body div.cta-close-wrap {
    padding: 5% 0;
  }
  body .cta-close-wrap img {
    width: 90%;
  }
  .cta-close-wrap p.cta-close {
    font-size: 1rem;
    width: 79%;
    padding: 8px 15px;
    border-radius: 8px;
    margin: 7% auto 4%;
  }
  .grad-wrap .grad-btn {
    width: 148px;
    padding: 20px 30px;
    font-size: 120%;
  }
  .main-tt {
    display: contents;
    width: auto;
    text-align: left;
    font-size: 8.5vw;
    text-shadow: 2px 2px 10px #fff, 2px 2px 10px #fff, 2px 2px 10px #fff,
      2px 2px 10px #fff, -2px -2px 10px #fff, -2px -2px 10px #fff,
      -2px -2px 10px #fff, -2px -2px 10px #fff;
  }
  .main-tt span {
    padding-left: 15px;
  }
  .main-read {
    font-size: 4.8vw;
    text-align: center;
  }
  .main-read span {
    font-size: 6.5vw;
  }
  .course_grid_box {
    width: 43%;
  }
  .grid_rj {
    margin: 0 0% 0 0%;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
  }
  .course_grid_box_1 {
    width: 100%;
  }
  .course_grid_box .course_price {
    font-size: 1.2rem;
  }
  .course_grid_box_1 .course_price {
    font-size: 2.6rem;
  }
  .course_grid_box_1 .course_price span {
    font-size: 1.2rem;
  }
  .course_grid_box_1 .course_price small {
    font-size: 1.1rem;
  }
  .course_grid_box .course_price span {
    font-size: 0.7rem;
  }
  .course_grid_box .course_price small {
    font-size: 0.6rem;
  }
  .comparison-table {
    margin: 0 auto 8px;
    /* font-size: 1.3rem; */
    border-spacing: 3px 0;
    word-break: break-all;
  }
  .comparison-table tr td:first-child {
    width: 24%;
  }
  .checkbox_block_all {
    bottom: 40%;
    left: 15%;
  }
  .checkbox_block {
    padding-left: 45px;
    margin-bottom: 15px;
  }
  .checkbox_block .label {
    font-size: 1.1rem;
  }
  .geekmark {
    height: 18px;
    width: 18px;
  }
  .checkbox_block_all_1 {
    bottom: 47%;
    left: 5%;
  }
  .checkbox_block_1 {
    padding-left: 30px;
    margin-bottom: 5px;
  }
  .checkbox_block_1 .label_1 {
    font-size: 0.7rem;
  }
  .geekmark_1 {
    top: 0;
    left: 10px;
    height: 15px;
    width: 15px;
  }
  .checkbox_block_1 p {
    font-size: 0.4rem;
    padding-top: 2px;
    line-height: 0.6rem;
  }
  .pc_only {
    display: none;
  }
  .course_grid_box {
    height: 145px;
  }
}
/*レスポンシブ対応 */

/*通常css */
header div {
  /* margin: 1.5% 2%; */
  height: 76px;
}
header div img {
  width: 15%;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

header div .cta-1 {
  padding: 30px;
  color: #fff;
  /* background-color: #f36c4f; */
  float: right;
  /* border-radius: 10px; */

  background: linear-gradient(90deg, #ff723d 0, #f93 51%, #ff723d);
  border-radius: 5rem;
  margin-top: 0.2rem;
  /* padding: 9px 0 5px;
  color: #fff;
  margin: 2% auto 2%;
  text-align: center;
  width: 40%;
  font-size: 250%;
  line-height: 2.5rem; */
}
header div .cta-1:hover {
  background-color: #f99079;
}
body .cta-1 span {
  background: #fff;
  border-radius: 2em;
  color: #333;
  display: block;
  margin: 0 auto 0px;
  padding: 3px 0 2px;
  line-height: 1;
  width: 50%;
}

body {
  /* line-height: 0; */
}
body a {
  text-decoration: none;
}
body .main-image {
  width: 100%;
}
body .main-wrap {
  background-image: url("img/main-back.png");
  width: 100%;
}
body .image-wrap {
  width: 60%;
  margin: 0 auto;
}
body .main-wrap .title {
  font-size: 150%;
  font-weight: 600;
  color: #000000;
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, -2px 2px 0 #fff,
    2px -2px 0 #fff, 0px 2px 0 #fff, 0-2px 0 #fff, -2px 0 0 #fff, 2px 0 0 #fff;
  text-align: center;
  margin: 15% 10%;
  display: inline-block;
  vertical-align: bottom;
}
body .main-wrap .title span {
  font-size: 250%;
  font-weight: 600;
  color: #ea9034;
  line-height: 6rem;
}
body .main-wrap .main-w {
  width: 40%;
}
body .share-belt {
  background-color: #ea9034;
  padding: 1%;
}
.share-wrap {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  height: 85px;
}
.share-text-wrap {
  background-image: url("img/hukidashi.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1.5%;
  display: inline-flex;
  vertical-align: middle;
  margin-bottom: 20px;
}
.share-text {
  font-size: 0.8rem;
  color: #ea9034;
  line-height: 1rem;
  font-weight: 600;
}
.share-text span {
  font-size: 200%;
  line-height: 1.5rem;
  display: block;
}
.share-wrap img {
  height: 80px;
  vertical-align: middle;
  margin-bottom: 20px;
}
.share-belt h2 {
  display: inline-block;
  font-size: 400%;
  color: #fff;
  border-bottom: solid 5px;
  padding-bottom: 30px;
}
.share-belt h2 span {
  font-size: 50%;
}
body .cta-2 {
  background: linear-gradient(90deg, #ff723d 0, #f93 51%, #ff723d);
  border-radius: 5rem;
  padding: 9px 0 5px;
  color: #fff;
  margin: 2% auto 2%;
  text-align: center;
  width: 40%;
  font-size: 250%;
  line-height: 2.5rem;
}
body .cta-2:hover {
  background-color: #f99079;
}
body .cta-2 span {
  background: #fff;
  border-radius: 2em;
  color: #333;
  display: block;
  margin: 0 auto 0px;
  padding: 3px 0 2px;
  line-height: 1;
  width: 50%;
}

body .worry-wrap {
  background-image: url("img/haikei_net.png");
  background-repeat: no-repeat;
  padding: 5%;
}
.worry-wrap h2 {
  font-size: 200%;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto 5%;
}
.worry-wrap h2 span {
  font-size: 150%;
}
.worry-wrap h2:before,
.worry-wrap h2:after {
  border-top: 2px solid #000;
  content: "";
  flex-grow: 1;
}
.worry-wrap h2:before {
  margin-right: 3rem;
}
.worry-wrap h2:after {
  margin-left: 3rem;
}
.worry-wrap ul {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.worry-wrap ul li {
  display: inline-block;
  width: 30%;
}
.worry-wrap ul li img {
  width: 95%;
}
body .belt {
  background-color: #ea9034;
  padding: 4%;
}
.belt h2 {
  text-align: center;
  font-size: 230%;
  color: #fff;
  line-height: 1rem;
}
body .reason-wrap {
  background-color: #f8f8f0;
  padding: 5%;
}
.reason-wrap ul li {
  padding: 2% 5%;
  width: 70%;
  border-radius: 20px;
  margin: 5% auto;
  background-color: #fff;
  list-style: none;
}
.reason-wrap ul li:first-child {
  margin-top: 0;
}
.reason-wrap ul li:last-child {
  margin-bottom: 0;
}
.reason-wrap ul li .reason-text {
  display: inline-block;
  width: 70%;
  margin-left: 5%;
  vertical-align: middle;
}
.reason-wrap ul li img {
  vertical-align: middle;
}
.reason-wrap ul li h3 {
  font-size: 200%;
  line-height: 1rem;
  margin-bottom: 5%;
  border-bottom: 10px solid #ffe563;
  display: inline-block;
}
.reason-wrap ul li p {
  line-height: 2rem;
  font-size: 1.5rem;
}
body .middle-cta-belt {
  background-color: #ea9034;
  padding: 4%;
}
.middle-cta-belt h2 {
  text-align: center;
  font-size: 230%;
  color: #fff;
  line-height: 1rem;
}
body .middle-cta-wrap {
  position: relative;
}
.middle-cta-wrap img {
  width: 100%;
}
body .cta-3 {
  /* padding: 35px; */
  position: absolute;
  bottom: 10%;
  left: 28%;
  background: linear-gradient(90deg, #ff723d 0, #f93 51%, #ff723d);
  border-radius: 5rem;
  padding: 9px 0 5px;
  color: #fff;
  /* background-color: #f36c4f; */
  text-align: center;
  /* border-radius: 20px; */
  width: 40%;
  font-size: 250%;
  line-height: 2.5rem;
}
body .cta-3:hover {
  background-color: #f99079;
}
body .cta-3 span {
  background: #fff;
  border-radius: 2em;
  color: #333;
  display: block;
  margin: 0 auto 0px;
  padding: 3px 0 2px;
  line-height: 1;
  width: 50%;
}

body .customer-wrap {
  padding: 5%;
  background-color: #f8f8f0;
}
.customer-wrap li {
  width: 80%;
  margin: 0 auto 5%;
  list-style: none;
  background-color: #fff;
  padding: 3%;
  border: solid 3px #ea9034;
}
.customer-wrap li img {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
}
.customer-wrap .customer-text {
  display: inline-block;
  width: 70%;
  margin-left: 5%;
  vertical-align: middle;
}
.customer-wrap .customer-text h4 {
  font-size: 180%;
  color: #ea9034;
  line-height: 2rem;
  margin-bottom: 2%;
}

.customer-wrap .customer-text p {
  font-size: 120%;
  line-height: 2rem;
}
body .media-wrap {
  padding: 5%;
  background-color: #f8f8f0;
}
.media-wrap .media-contents {
  background-color: #fff;
  width: 80%;
  border: 3px solid #ea9034;
  padding: 5% 0 5%;
  margin: 0 auto;
}
.media-wrap img {
  margin: 0 auto;
  width: 80%;
  display: block;
}
body .question-wrap {
  padding: 5%;
  background-color: #f8f8f0;
  padding-bottom: 10%;
}
.question-wrap li {
  width: 80%;
  margin: 0 auto 5%;
  list-style: none;
  background-color: #fff;
  padding: 3%;
  border: solid 3px #ea9034;
}
.question-wrap li h4 {
  font-size: 180%;
  color: #ea9034;
  border-bottom: 3px solid #ea9034;
  line-height: 3rem;
}
.question-wrap li span {
  margin-right: 2%;
}
.question-wrap li p {
  font-size: 150%;
  line-height: 2rem;
  margin-top: 2%;
}

.grad-wrap {
  position: relative;
}
.grad-item {
  position: relative;
  overflow: hidden;
  height: 0px; /*隠した状態の高さ*/
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
}
.grad-wrap span.more {
  display: block;
  font-size: 180%;
}
.grad-trigger {
  display: none; /*チェックボックスは常に非表示*/
}
.grad-btn::after {
  content: "more";
}
.grad-trigger:checked ~ .grad-item {
  height: auto; /*チェックされていたら、高さを戻す*/
}
.grad-trigger:checked ~ .grad-item::before {
  display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}
.grad-trigger:checked ~ .grad-btn::after {
  content: "close";
}
.grad-trigger:checked ~ .grad-btn .fa {
  transform: rotate(180deg);
}
.grad-btn {
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: -55px;
  left: 0;
  width: 148px;
  margin: auto;
  padding: 35px 150px;
  border-radius: 100px;
  font-size: 250%;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease;
  border: solid #000 2px;
}
.grad-btn:hover {
  background-color: #353334;
  color: #ffffff;
}

body .cta-close-wrap {
  position: relative;
  padding: 5%;
  background-color: #f8f8f0;
}
.cta-close-wrap img {
  width: 80%;
  margin: 0 auto;
  display: block;
}
.cta-close-wrap .cta-close {
  padding: 35px;
  color: #fff;
  background-color: #f36c4f;
  margin: 5% auto 3%;
  text-align: center;
  border-radius: 20px;
  width: 40%;
  font-size: 250%;
  line-height: 2.5rem;
}
.cta-close-wrap .cta-close:hover {
  background-color: #f99079;
}
.btn_gra_orange {
  background: linear-gradient(90deg, #ff723d 0, #f93 51%, #ff723d);
  background-size: 200% auto;
  border-radius: 5rem;
  color: #fff;
  text-align: center;
  display: block;
  padding: 9px 0 12px;
  letter-spacing: 0.1rem;
  transition: 0.2s;
}

.ranking1 {
  /* width: 31%; */
  height: 190px;
  margin-top: -7px;
  border: 9px solid #ea9034;
}
.course_grid_box_1 {
  position: relative;
  margin-left: 2.4%;
  height: 190px;
  background: #fff;
  text-align: center;
  border: 10px solid #ea9034;
  overflow: hidden;
  position: relative;
  /* margin-top: -7px; */
  margin-top: 3px;
}
.course_grid_box {
  margin-left: 2.4%;
  /* float: left; */
  /* width: 30%; */
  /* height: 180px; */
  background: #fff;
  text-align: center;
  border: 5px solid #ea9034;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}

.course_ttl_box {
  background: #ea9034;
  color: #fff;
  padding: 4px 0 6px 5px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 110%;
  margin-left: -5%;
  position: relative;
  /* z-index: 0; */
}
.course_ttl {
  font-size: 1.2rem;
  padding: 5px;
}
.course_subttl {
  font-size: 1rem;
}
.course_grid_box_1 .course_price {
  margin-top: 20px;
  color: #ec6800;
  font-family: Noto Sans JP, sans-serif;
  font-weight: 700;
  /* font-size: 1.6rem; */
  line-height: 1.2;
}
.course_grid_box .course_price {
  margin-top: 25px;
  color: #ec6800;
  font-family: Noto Sans JP, sans-serif;
  font-weight: 700;
  /* font-size: 1.6rem; */
  line-height: 1.2;
}
.course_price span {
}

.course_price span.name {
  color: #333;
}
.course_price small {
  display: block;
  color: #333;
  padding-top: 5px;
}
.grid_rj {
  padding-top: 50px;
  position: relative;
  display: flex;
  padding-right: 2.4%;
  background-color: #f8f8f0;
  /* flex-flow: row wrap; */
  /* align-content: space-between;
  justify-content: space-between; */
  /* margin-right: 2.4%; */
}
.course_grid .course_ttl_badge {
  position: absolute;
  color: #fff;
  background: url(https://d1atgierv9op2.cloudfront.net/images/home_index/bg_rankingNo1.png)
    no-repeat;
  text-align: center;
  line-height: 1.4;
  top: 30px;
  left: 3.2vw;
  z-index: 100;
}
.course_grid .course_ttl_badge {
  background-size: 55px auto;
  font-size: 0.9em;
  padding-top: 5px;
  width: 55px;
  height: 65px;
}

.comparison-table {
  margin: 50px auto 20px;
  line-height: 1.4;
  font-size: 0.9rem;
  border: none;
  /* border-spacing: 15px 0; */
  width: 100%;
  border-collapse: separate;
  /* vertical-align: middle; */
}
.comparison-table tr td {
  text-align: center;
  border-right: 6px solid #dedede;
  border-left: 6px solid #dedede;
  border-bottom: none;
  height: 60px;
}
table td,
table th {
  padding: 5px 7.5px;
  border-bottom: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
}
.comparison-table tr td:first-child {
  border-right: 1px solid #dedede;
  border-left: 1px solid #dedede;
}

.comparison-table thead th:first-child {
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #dedede;
  background: none;
}
.comparison-table tr td:nth-child(2) {
  font-size: 1rem;
  font-weight: 700;
  border-right: 6px solid #ea9034;
  border-left: 6px solid #ea9034;
  color: #333;
}
.comparison-table tr:nth-child(2n) td:nth-child(2) {
  background: #f2f9e9;
}
.comparison-table tr:last-child td:nth-child(2) {
  border-bottom-color: #ea9034;
  box-shadow: 0 6px #ea9034;
}
.comparison-table thead th {
  padding: 16px 0px;
  background: #dedede;
  text-align: center;
  border: 6px solid #dedede;
  border-top: none;
  border-bottom: 1px solid #dedede;
  color: #333;
}
.comparison-table thead th:nth-child(2) {
  font-weight: 700;
  background: #ea9034;
  border: 6px solid #ea9034;
  border-top: none;
  border-bottom: 1px solid #ea9034;
  box-shadow: 0 -20px #ea9034;
  padding: 0 0 15px;
  font-size: 1.5rem;
  color: #fff;
}
.comparison-table tr:last-child td:first-child {
  box-shadow: 0 1px #dedede;
}
.comparison-table tr:last-child td {
  border-bottom-color: #dedede;
  box-shadow: 0 6px #dedede;
}
.comparison-table tr:nth-child(2n) {
  background: #f3f3f3;
}
.comparison-table span {
  font-size: 1.2rem;
  padding: 0 2px 0 4px;
}
.btn_freeTrial {
  background: #f3f3f3;
  padding: 40px 0 40px 0;
  /* position: relative; */
}
.paragraph {
  background: #f3f3f3;
}
.checkbox_block_all {
  position: absolute;
  /* bottom: 40%;
  left: 35%; */
}

.checkbox_block {
  display: block;
  position: relative;
  /* padding-left: 45px;
  margin-bottom: 35px; */
  cursor: pointer;
  /* font-size: 20px; */
}

/* Hide the default checkbox */
input[type="checkbox"] {
  visibility: hidden;
}

/* Creating a custom checkbox
based on demand */
.geekmark {
  position: absolute;
  top: 0;
  left: 0;
  /* height: 25px;
  width: 25px; */
  background-color: none;
  border: solid #353334 2px;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.geekmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Display checkmark when checked */
.checkbox_block input:checked ~ .geekmark:after {
  display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
showing only two border to make it look
like a tickmark */
.checkbox_block .geekmark:after {
  left: 13px;
  bottom: 5px;
  width: 6px;
  height: 23px;
  border: solid #ffe563;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox_block .label {
  /* font-size: 1.4rem; */
  font-weight: bold;
  border-bottom: 5px solid #ffe563;
}

.checkbox_block_all_1 {
  position: absolute;
  /* bottom: 40%;
	left: 35%; */
}

.checkbox_block_1 {
  display: block;
  position: relative;
  /* padding-left: 45px;
	margin-bottom: 35px; */
  cursor: pointer;
  /* font-size: 20px; */
}

/* Hide the default checkbox */
input[type="checkbox"] {
  visibility: hidden;
}

/* Creating a custom checkbox
  based on demand */
.geekmark_1 {
  position: absolute;
  /* top: 0;
  left: 0; */
  /* height: 25px;
	width: 25px; */
  background-color: none;
  border: solid #f8f8f0 2px;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.geekmark_1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Display checkmark when checked */
.checkbox_block_1 input:checked ~ .geekmark_1:after {
  display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
  showing only two border to make it look
  like a tickmark */

.checkbox_block_1 .geekmark_1:after {
  left: 10px;
  bottom: 5px;
  width: 6px;
  height: 18px;
  border: solid #ffe563;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox_block_1 .label_1 {
  /* font-size: 1.4rem; */
  font-weight: bold;
  color: #f2f9e9;
  border-bottom: 5px solid #ffe563;
}
.checkbox_block_1 p {
  /* padding-top: 5px; */
  /* font-weight: bold; */
  color: #f2f9e9;
  /* line-height: 1.5rem; */
}
